html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.grid-container {
    margin: 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto auto;
}

.grid-header {
    grid-column: 1 / 4;
    grid-row: 1;
    background: rgb(77, 0, 121);
    color: white;
    padding: 4rem;
    text-align: center;
}

.grid-navbar {
    grid-column: 1;
    grid-row: 2;
    background-color: black;
}

nav {
    white-space: nowrap;
    background: black;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0;
}

nav ul li a {
    display: block;
    padding: 1% 5%;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.x:hover {
  background-color: grey;
}

.x.active {
/*  background-color: black;*/
}

p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    padding-left: 1rem;
}

section {
    margin: 0% 0% 4% 1%;
}

#section-1 > h2 {
    margin: 1% 0% 3% 0%;
    font-size: 40px;
}

table td.shrink {
    width: 30%;
}

td > p {
    margin-top: 0;
}

#section-2 > h2 {
    margin: 1% 0% 3% 0%;
}

#section-3 {}

#section-4 {}

#section-5 {}

#section-4 > h3 {
    font-size: 20px;
    padding-left: 1rem;
    margin-bottom: .5rem;
}

#section-4 > p {
    margin-top: .5rem;
}

#section-6 {}

.grid-blank {
    grid-column: 3;
    grid-row: 2;
    background-color: white;
}

.grid-footer {
    grid-column: 1 / 4;
    grid-row: 3;
    background: rgba(0, 0, 0, 0.849);
    padding: 1rem 1rem;
    text-align: center;
    color: white
}
